mixin price
  section.price.relative
    .anchor-offset#price
    h2.title-section.services__title Цены
    .container
      .price__inner
        table.price__table.table-price
          tbody
            tr.table-price__row
              td.table-price__col
                p Название услуги
              td.table-price__col
                p Легковые автомобили (руб) 
              td.table-price__col
                p Джипы, микроавтобусы (руб) 
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ДВИГАТЕЛЬ - ЦЕНЫ НА РЕМОНТ ДВИГАТЕЛЯ
            tr.table-price__row
              td.table-price__col
                p Капитальный ремонт 8 клапанов, классика 
                p Капитальный ремонт 16 клапанов
              td.table-price__col
                p 15500
                p 18000
              td.table-price__col
                p 20000-100000
                p 22000-150000
            tr.table-price__row
              td.table-price__col
                p Снятие и установка двигателя  
              td.table-price__col
                p 8000-10000
              td.table-price__col
                p 10000-25000
            tr.table-price__row
              td.table-price__col
                p Замена поршневых колец  
              td.table-price__col
                p 8000-10000
              td.table-price__col
                p 8000-35000
            tr.table-price__row
              td.table-price__col
                p Замена маслосъемных колпачков  
              td.table-price__col
                p 1800-3500
              td.table-price__col
                p 2500-30000
            tr.table-price__row
              td.table-price__col
                p Замена клапанной прокладки  
              td.table-price__col
                p 300-1800
              td.table-price__col
                p 500-5000
            tr.table-price__row
              td.table-price__col
                p Замена успокоителя  
              td.table-price__col
                p 800
              td.table-price__col
                p 1500-10000
            tr.table-price__row
              td.table-price__col
                p Замена башмака  
              td.table-price__col
                p 2500
              td.table-price__col
                p 2500-25000
            tr.table-price__row
              td.table-price__col
                p Замена цепи  
              td.table-price__col
                p 2500
              td.table-price__col
                p 2500-25000
            tr.table-price__row
              td.table-price__col
                p Замена натяжителя цепи  
              td.table-price__col
                p 300-1500
              td.table-price__col
                p 1500-10000
            tr.table-price__row
              td.table-price__col
                p Регулировка цепи( натяжка)  
              td.table-price__col
                p 300-1500
              td.table-price__col
                p 500-6000
            tr.table-price__row
              td.table-price__col
                p Замена переднего сальника (коленвала)  
              td.table-price__col
                p 1500-2200
              td.table-price__col
                p 2500-25000
            tr.table-price__row
              td.table-price__col
                p Замена сальника распредвала  
              td.table-price__col
                p 800-1500
              td.table-price__col
                p 500-5000
            tr.table-price__row
              td.table-price__col
                p Замена распредвала  
              td.table-price__col
                p 1200-2000
              td.table-price__col
                p 2000-30000
            tr.table-price__row
              td.table-price__col
                p Замена прокладки поддона  
              td.table-price__col
                p 1000-2200
              td.table-price__col
                p 1000-10000
            tr.table-price__row
              td.table-price__col
                p Замена масляного насоса  
              td.table-price__col
                p 1500-2500
              td.table-price__col
                p 1500-15000
            tr.table-price__row
              td.table-price__col
                p Замена заднего сальника (коленвала)  
              td.table-price__col
                p 3500
              td.table-price__col
                p 2500-15000
            tr.table-price__row
              td.table-price__col
                p Замена ремня генератора  
              td.table-price__col
                p 300
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Замена помпы  
              td.table-price__col
                p 800-2400
              td.table-price__col
                p 1000-15000
            tr.table-price__row
              td.table-price__col
                p Замена прокладки головки блока  
              td.table-price__col
                p 5000-7000
              td.table-price__col
                p 5000-12000
            tr.table-price__row
              td.table-price__col
                p Замена масла  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Промывка двигателя и замена масла  
              td.table-price__col
                p 700
              td.table-price__col
                p 700-2000
            tr.table-price__row
              td.table-price__col
                p Замена ремня ГРМ  
              td.table-price__col
                p 1200-2200
              td.table-price__col
                p 2500-15000
            tr.table-price__row
              td.table-price__col
                p Замена коллекторных прокладок  
              td.table-price__col
                p 3000-3500
              td.table-price__col
                p 1500-12000
            tr.table-price__row
              td.table-price__col
                p Замена опоры двигателя 1шт  
              td.table-price__col
                p 600
              td.table-price__col
                p 500-3000
            tr.table-price__row
              td.table-price__col
                p Замена опоры двигателя кпп  
              td.table-price__col
                p 600
              td.table-price__col
                p 500-3000
            tr.table-price__row
              td.table-price__col
                p Замена свечей  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-7500
            tr.table-price__row
              td.table-price__col
                p Замер компрессии  
              td.table-price__col
                p 600
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Установка защиты картера  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Замена масла в КПП  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Замена масла в АКПП  
              td.table-price__col
                p 1500
              td.table-price__col
                p 1500-3000
            tr.table-price__row
              td.table-price__col
                p Замена масла в мосту  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Замена воздушного фильтра  
              td.table-price__col
                p 150
              td.table-price__col
                p 300-1500
            tr.table-price__row
              td.table-price__col
                p Замена салонного фильтра  
              td.table-price__col
                p 400-1000
              td.table-price__col
                p 300-2000
            tr.table-price__row
              td.table-price__col
                p Замена головки блока цилиндров  
              td.table-price__col
                p 5000
              td.table-price__col
                p 5000-15000
            tr.table-price__row
              td.table-price__col
                p Замена гидрокомпенсаторов  
              td.table-price__col
                p 3000
              td.table-price__col
                p 2500-9000
            tr.table-price__row
              td.table-price__col
                p Замена заглушек блока цилиндров  
              td.table-price__col
                p 3000-6000
              td.table-price__col
                p 9000-20000
            tr.table-price__row
              td.table-price__col
                p Замена ремня гидроусилителя  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-2600
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") РУЛЕВОЙ МЕХАНИЗМ - СТОИМОСТЬ РАБОТ ПО РЕМОНТУ РУЛЕВОГО МЕХАНИЗМА
            tr.table-price__row
              td.table-price__col
                p Замена рулевой тяги ( 1шт)  
              td.table-price__col
                p 850
              td.table-price__col
                p 1200-2500
            tr.table-price__row
              td.table-price__col
                p Замена средней рулевой тяги  
              td.table-price__col
                p 750
              td.table-price__col
                p 1200-2000
            tr.table-price__row
              td.table-price__col
                p Замена маятника  
              td.table-price__col
                p 800
              td.table-price__col
                p 800-1500
            tr.table-price__row
              td.table-price__col
                p Замена рулевой трапеции (комплект)  
              td.table-price__col
                p 1500
              td.table-price__col
                p 2000-3500
            tr.table-price__row
              td.table-price__col
                p Замена рулевой рейки  
              td.table-price__col
                p 2000
              td.table-price__col
                p 2500-9000
            tr.table-price__row
              td.table-price__col
                p Замена рулевой колонки  
              td.table-price__col
                p 1200-1800
              td.table-price__col
                p 2000-3500
            tr.table-price__row
              td.table-price__col
                p Замена кронштейна вала рулевого управления  
              td.table-price__col
                p 1000-1500
              td.table-price__col
                p 2000-3500
            tr.table-price__row
              td.table-price__col
                p Замена рулевой машинки  
              td.table-price__col
                p 2000
              td.table-price__col
                p 2500-7000
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ТРАНСМИССИЯ - ЦЕНЫ РЕМОНТА
            tr.table-price__row
              td.table-price__col
                p Замена сцепления  
              td.table-price__col
                p 2500-4000
              td.table-price__col
                p 3500-15000
            tr.table-price__row
              td.table-price__col
                p Замена главного цилиндра сцепления  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Замена КПП  
              td.table-price__col
                p 2400-4000
              td.table-price__col
                p 3500-15000
            tr.table-price__row
              td.table-price__col
                p Замена АКПП  
              td.table-price__col
                p 5000-35000
              td.table-price__col
                p 6000-45000
            tr.table-price__row
              td.table-price__col
                p Переборка КПП  
              td.table-price__col
                p 5000-6000
              td.table-price__col
                p 6000-20000
            tr.table-price__row
              td.table-price__col
                p Замена привода в сборе  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-3500
            tr.table-price__row
              td.table-price__col
                p Замена пыльника привода внутреннего  
              td.table-price__col
                p 1200
              td.table-price__col
                p 1200-2500
            tr.table-price__row
              td.table-price__col
                p Замена пыльника привода наружнего  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Замена маховика  
              td.table-price__col
                p 3500
              td.table-price__col
                p 3500-15000
            tr.table-price__row
              td.table-price__col
                p Замена сальника привода  
              td.table-price__col
                p 1100
              td.table-price__col
                p 1100-3500
            tr.table-price__row
              td.table-price__col
                p Замена карданного вала  
              td.table-price__col
                p 900
              td.table-price__col
                p 1000-5500
            tr.table-price__row
              td.table-price__col
                p Замена эластичной муфты кардана  
              td.table-price__col
                p 1400
              td.table-price__col
                p 1000-5500
            tr.table-price__row
              td.table-price__col
                p Замена подвесного подшипника  
              td.table-price__col
                p 1600
              td.table-price__col
                p 800-3500
            tr.table-price__row
              td.table-price__col
                p Замена троса сцепления  
              td.table-price__col
                p 500
              td.table-price__col
                p 350-2000
            tr.table-price__row
              td.table-price__col
                p Замена троса спидометра  
              td.table-price__col
                p 800
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Замена редуктора  
              td.table-price__col
                p 2200
              td.table-price__col
                p 2000-7000
            tr.table-price__row
              td.table-price__col
                p Замена сальника выбора передач  
              td.table-price__col
                p 400
              td.table-price__col
                p 500-6000
            tr.table-price__row
              td.table-price__col
                p Замена рабочего цилиндра сцепления  
              td.table-price__col
                p 600
              td.table-price__col
                p 600-2000
            tr.table-price__row
              td.table-price__col
                p Замена троса газа  
              td.table-price__col
                p 600
              td.table-price__col
                p 800-2000
            tr.table-price__row
              td.table-price__col
                p Замена датчика заднего хода  
              td.table-price__col
                p 400
              td.table-price__col
                p 500-3000
            tr.table-price__row
              td.table-price__col
                p Замена заднего сальника КПП  
              td.table-price__col
                p 1400
              td.table-price__col
                p 400-8000
            tr.table-price__row
              td.table-price__col
                p Замена сальника редуктора  
              td.table-price__col
                p 1200
              td.table-price__col
                p 500-3500
            tr.table-price__row
              td.table-price__col
                p Замена прокладки редуктора  
              td.table-price__col
                p 2500
              td.table-price__col
                p 2000-7000
            tr.table-price__row
              td.table-price__col
                p Замена сальника КПП первичного вала  
              td.table-price__col
                p 2200-2500
              td.table-price__col
                p 2500-12000
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ЭЛЕКТРОТЕХНИЧЕСКИЕ РАБОТЫ
            tr.table-price__row
              td.table-price__col
                p Замена генератора  
              td.table-price__col
                p 1000
              td.table-price__col
                p 800-5000
            tr.table-price__row
              td.table-price__col
                p Замена стартера  
              td.table-price__col
                p 1000
              td.table-price__col
                p 800-5000
            tr.table-price__row
              td.table-price__col
                p Замена втягивающего реле  
              td.table-price__col
                p 400-1200
              td.table-price__col
                p 600-5000
            tr.table-price__row
              td.table-price__col
                p Замена моторчика омывателя  
              td.table-price__col
                p 250
              td.table-price__col
                p 700-5000
            tr.table-price__row
              td.table-price__col
                p Замена механизма стеклоочистителя  
              td.table-price__col
                p 1000-2500
              td.table-price__col
                p 1000-4000
            tr.table-price__row
              td.table-price__col
                p Замена блока предохранителей  
              td.table-price__col
                p 800
              td.table-price__col
                p 1000-5000
            tr.table-price__row
              td.table-price__col
                p Замена замка зажигания  
              td.table-price__col
                p 500-1200
              td.table-price__col
                p 1000-2000
            tr.table-price__row
              td.table-price__col
                p Замена коммутатора  
              td.table-price__col
                p 300-700
              td.table-price__col
                p 500-3000
            tr.table-price__row
              td.table-price__col
                p Замена тромблера  
              td.table-price__col
                p 500
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Переборка трамблера  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Установить центр. замок 1 шт  
              td.table-price__col
                p 300-1200
              td.table-price__col
                p 500-700
            tr.table-price__row
              td.table-price__col
                p Замена плат задних фонарей 1 шт  
              td.table-price__col
                p 200-400
              td.table-price__col
                p 700-3000
            tr.table-price__row
              td.table-price__col
                p Установка электроподъемника стекла 1шт  
              td.table-price__col
                p 600-1000
              td.table-price__col
                p 1500
            tr.table-price__row
              td.table-price__col
                p Замена активатора или подъемника  
              td.table-price__col
                p 300-500
              td.table-price__col
                p 700
            tr.table-price__row
              td.table-price__col
                p Замена косы (полностью)  
              td.table-price__col
                p 12000
              td.table-price__col
                p 15000-50000
            tr.table-price__row
              td.table-price__col
                p Замена передней блок-фары 1 шт  
              td.table-price__col
                p 300-1500
              td.table-price__col
                p 700-4500
            tr.table-price__row
              td.table-price__col
                p Замена заднего блок-фанаря 1 шт  
              td.table-price__col
                p 300-500
              td.table-price__col
                p 700-2500
            tr.table-price__row
              td.table-price__col
                p Замена наружного зеркала заднего вида обычного  
              td.table-price__col
                p 350-500
              td.table-price__col
                p 400-1500
            tr.table-price__row
              td.table-price__col
                p Замена наружн зеркала заднего вида с подогревом  
              td.table-price__col
                p 400-1000
              td.table-price__col
                p 700-2500
            tr.table-price__row
              td.table-price__col
                p Замена щитка приборов ( С\У)  
              td.table-price__col
                p 500-1000
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Замена рычага переключения поворотника  
              td.table-price__col
                p 250-1500
              td.table-price__col
                p 500-3000
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ТОРМОЗНАЯ СИСТЕМА - ЦЕНЫ НА РАБОТЫ ПО РЕМОНТУ ТОРМОЗНОЙ СИСТЕМЫ
            tr.table-price__row
              td.table-price__col
                p Замена задних колодок  
              td.table-price__col
                p 700
              td.table-price__col
                p 600-2000
            tr.table-price__row
              td.table-price__col
                p Замена переднего тормозного цилиндра (1 шт)  
              td.table-price__col
                p 400
              td.table-price__col
                p 500-1600
            tr.table-price__row
              td.table-price__col
                p Замена тормозного шланга с прокачкой (1 шт)  
              td.table-price__col
                p 400
              td.table-price__col
                p 400-900
            tr.table-price__row
              td.table-price__col
                p Замена вакуумного усилителя  
              td.table-price__col
                p 800-2500
              td.table-price__col
                p 1000-6000
            tr.table-price__row
              td.table-price__col
                p Замена троса ручного тормоза  
              td.table-price__col
                p 900-1500
              td.table-price__col
                p 1000-5000
            tr.table-price__row
              td.table-price__col
                p Замена тормозного барабана ( 1 шт)  
              td.table-price__col
                p 300
              td.table-price__col
                p 300-600
            tr.table-price__row
              td.table-price__col
                p Замена регулятора давления  
              td.table-price__col
                p 1000-2200
              td.table-price__col
                p 1000-2500
            tr.table-price__row
              td.table-price__col
                p Замена суппорта в сборе ( 1 шт)  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Замена тормозного диска ( 1 шт)  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Прокачка тормозной системы  
              td.table-price__col
                p 500
              td.table-price__col
                p 400-1000
            tr.table-price__row
              td.table-price__col
                p Замена главного тормозного цилиндра  
              td.table-price__col
                p 500-900
              td.table-price__col
                p 1500-5000
            tr.table-price__row
              td.table-price__col
                p Замена педального узла  
              td.table-price__col
                p 1500-2500
              td.table-price__col
                p 3000-6000
            tr.table-price__row
              td.table-price__col
                p Замена магистральной тормозной трубки (1 шт)  
              td.table-price__col
                p 1500
              td.table-price__col
                p 1000-4000
            tr.table-price__row
              td.table-price__col
                p Замена тройника распредиления тормозов  
              td.table-price__col
                p 500-800
              td.table-price__col
                p 600-1500
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") СИСТЕМА ОХЛАЖДЕНИЯ - СТОИМОСТЬ ПРОВЕДЕНИЯ РАБОТ ПО РЕМОНТУ СИСТЕМЫ ОХЛАЖДЕНИЯ
            tr.table-price__row
              td.table-price__col
                p Замена радиатора (вентилятора)  
              td.table-price__col
                p 700-1200
              td.table-price__col
                p 1500-6000
            tr.table-price__row
              td.table-price__col
                p Замена патрубка 1шт  
              td.table-price__col
                p 150
              td.table-price__col
                p 300
            tr.table-price__row
              td.table-price__col
                p Замена тосола  
              td.table-price__col
                p 600
              td.table-price__col
                p 600-1500
            tr.table-price__row
              td.table-price__col
                p Замена крана отопителя  
              td.table-price__col
                p 900-2000
              td.table-price__col
                p 1200-8000
            tr.table-price__row
              td.table-price__col
                p Замена печки  
              td.table-price__col
                p 1200-6000
              td.table-price__col
                p 1500-8000
            tr.table-price__row
              td.table-price__col
                p Замена вентилятора печки  
              td.table-price__col
                p 600-6000
              td.table-price__col
                p 1000-4500
            tr.table-price__row
              td.table-price__col
                p Замена датчика вентилятора  
              td.table-price__col
                p 300
              td.table-price__col
                p 400-600
            tr.table-price__row
              td.table-price__col
                p Замена датчика температуры  
              td.table-price__col
                p 300
              td.table-price__col
                p 250-1000
            tr.table-price__row
              td.table-price__col
                p Замена датчика масла  
              td.table-price__col
                p 300
              td.table-price__col
                p 250-2500
            tr.table-price__row
              td.table-price__col
                p Замена термостата  
              td.table-price__col
                p 800-1000
              td.table-price__col
                p 800-3000
            tr.table-price__row
              td.table-price__col
                p Замена расширительного бачка  
              td.table-price__col
                p 150
              td.table-price__col
                p 200-1500
            tr.table-price__row
              td.table-price__col
                p Замена бачка омывателя стекол  
              td.table-price__col
                p 150
              td.table-price__col
                p 150-500
            tr.table-price__row
              td.table-price__col
                p Замена патрубка головки блока цилиндров  
              td.table-price__col
                p 250
              td.table-price__col
                p 450
            tr.table-price__row
              td.table-price__col
                p Замена патрубка в радиатор отопителя салона  
              td.table-price__col
                p 500
              td.table-price__col
                p 600-1800
            tr.table-price__row
              td.table-price__col
                p Замена отводящего шланга радиатора  
              td.table-price__col
                p 200
              td.table-price__col
                p 400-1600
            tr.table-price__row
              td.table-price__col
                p Замена ( снятие и установка торпеды )  
              td.table-price__col
                p 3000-6000
              td.table-price__col
                p 3000-12000
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ЗАДНЯЯ ПОДВЕСКА
            tr.table-price__row
              td.table-price__col
                p Замена 1-ой реактивной тяги  
              td.table-price__col
                p 500
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Замена заднего амортизатора 1шт  
              td.table-price__col
                p 400-600
              td.table-price__col
                p 1000-2000
            tr.table-price__row
              td.table-price__col
                p Замена задней пружины 1шт  
              td.table-price__col
                p 400-600
              td.table-price__col
                p 1000-2000
            tr.table-price__row
              td.table-price__col
                p Замена подшипника 1шт  
              td.table-price__col
                p 600
              td.table-price__col
                p 1800-3000
            tr.table-price__row
              td.table-price__col
                p Замена полуоси 1шт  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-2500
            tr.table-price__row
              td.table-price__col
                p Замена задней балки  
              td.table-price__col
                p 2000
              td.table-price__col
                p 4500-6000
            tr.table-price__row
              td.table-price__col
                p Замена сайлентблоков задней балки( комплект)  
              td.table-price__col
                p 1800
              td.table-price__col
                p 2000-4000
            tr.table-price__row
              td.table-price__col
                p Замена реактивных тяг (комплект)  
              td.table-price__col
                p 2200
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Переприсовка подшибника на полуоси 1шт  
              td.table-price__col
                p 1200
              td.table-price__col
                p 1000-3000
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ПЕРЕДНЯЯ Подвеска
            tr.table-price__row
              td.table-price__col
                p Замена амортизаторов 1 шт  
              td.table-price__col
                p 600-900
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Замена 1-ой шаровой  
              td.table-price__col
                p 400-500
              td.table-price__col
                p 800-2500
            tr.table-price__row
              td.table-price__col
                p Замена верхнего рычага 1шт  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-4000
            tr.table-price__row
              td.table-price__col
                p Замена нижнего рычага 1шт  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-4000
            tr.table-price__row
              td.table-price__col
                p Замена подшипника ступицы 1шт  
              td.table-price__col
                p 800
              td.table-price__col
                p 800-3200
            tr.table-price__row
              td.table-price__col
                p Замена передней пружины 1шт  
              td.table-price__col
                p 1000-1200
              td.table-price__col
                p 1500-5000
            tr.table-price__row
              td.table-price__col
                p Замена стабилизатора  
              td.table-price__col
                p 600
              td.table-price__col
                p 800-1200
            tr.table-price__row
              td.table-price__col
                p Замена растяжки 1шт  
              td.table-price__col
                p 500
              td.table-price__col
                p 700
            tr.table-price__row
              td.table-price__col
                p Замена переднего кронштейна 1шт  
              td.table-price__col
                p 400
              td.table-price__col
                p 1000
            tr.table-price__row
              td.table-price__col
                p Замена ступицы 1шт  
              td.table-price__col
                p 800
              td.table-price__col
                p 800-4000
            tr.table-price__row
              td.table-price__col
                p Замена передней балки  
              td.table-price__col
                p 2000-3000
              td.table-price__col
                p 4000
            tr.table-price__row
              td.table-price__col
                p Замена опоры стоек 1шт  
              td.table-price__col
                p 900
              td.table-price__col
                p 800-1000
            tr.table-price__row
              td.table-price__col
                p Замена стоек стабилизатора 1 шт.  
              td.table-price__col
                p 200-300
              td.table-price__col
                p 200-1000
            tr.table-price__row
              td.table-price__col
                p Замена С.Б. верхнего рычага 1шт  
              td.table-price__col
                p 1000
              td.table-price__col
                p 1000-2000
            tr.table-price__row
              td.table-price__col
                p Замена С.Б. нижнего рычага  
              td.table-price__col
                p 1200
              td.table-price__col
                p 1000-2500
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ТОПЛИВНАЯ система
            tr.table-price__row
              td.table-price__col
                p Замена карбюратора  
              td.table-price__col
                p 800
              td.table-price__col
                p 800
            tr.table-price__row
              td.table-price__col
                p Регулировка карбюратора (ремонт)  
              td.table-price__col
                p 1000-2500
              td.table-price__col
                p 1000-4500
            tr.table-price__row
              td.table-price__col
                p Замена топливного фильтра  
              td.table-price__col
                p 100-500
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Замена бензобака  
              td.table-price__col
                p 600-1200
              td.table-price__col
                p 1000-8000
            tr.table-price__row
              td.table-price__col
                p Замена шланга  
              td.table-price__col
                p 250
              td.table-price__col
                p 200-1000
            tr.table-price__row
              td.table-price__col
                p Замена воздушного фильтра  
              td.table-price__col
                p 100
              td.table-price__col
                p 300
            tr.table-price__row
              td.table-price__col
                p Замена топливного насоса(электрический)  
              td.table-price__col
                p 1000-2500
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Замена топливного насоса(механический)  
              td.table-price__col
                p 500
              td.table-price__col
                p 900
            tr.table-price__row
              td.table-price__col
                p Замена топливной трубки (магистральной) 1шт  
              td.table-price__col
                p 1500
              td.table-price__col
                p 900-10000
            tr.table-price__row
              td.table-price__col
                p Замена топливного датчика  
              td.table-price__col
                p 300-2000
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Продувка топливной системы  
              td.table-price__col
                p 500-1000
              td.table-price__col
                p 500-2000
            tr.table-price__row
              td.table-price__col
                p Замена дополнительного топливного фильтра  
              td.table-price__col
                p 100
              td.table-price__col
                p 100
            tr.table-price__row
              td.table-price__col
                p Замена тормозной жидкости  
              td.table-price__col
                p 600
              td.table-price__col
                p 600-1000
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") ГЛУШИТЕЛЬ - ЦЕНЫ РЕМОНТА ГЛУШИТЕЛЕЙ
            tr.table-price__row
              td.table-price__col
                p Замена прокладки приемной трубы  
              td.table-price__col
                p 700-800
              td.table-price__col
                p 1000-4000
            tr.table-price__row
              td.table-price__col
                p Замена приемной части  
              td.table-price__col
                p 700-800
              td.table-price__col
                p 1000-4000
            tr.table-price__row
              td.table-price__col
                p Замена средней части  
              td.table-price__col
                p 500
              td.table-price__col
                p 400-1000
            tr.table-price__row
              td.table-price__col
                p Замена задней части  
              td.table-price__col
                p 400
              td.table-price__col
                p 350-1000
            tr.table-price__row
              td.table-price__col
                p Замена одного хомута  
              td.table-price__col
                p 150
              td.table-price__col
                p 250
            tr.table-price__row
              td.table-price__col
                p Удаление болтов из коллектора  
              td.table-price__col
                p 3000
              td.table-price__col
                p 1000-3500
            tr.table-price__row
              td.table-price__col
                p Замена прокладки коллектора  
              td.table-price__col
                p 3000
              td.table-price__col
                p 1000-3500
            tr.table-price__row-title
              th.table-price__col-title(colspan="3") АРМАТУРНЫЕ РАБОТЫ
            tr.table-price__row
              td.table-price__col
                p Замена лобового стекла 1 шт  
              td.table-price__col
                p 1200
              td.table-price__col
                p 1500-3000
            tr.table-price__row
              td.table-price__col
                p Замена заднего стекла 1 шт  
              td.table-price__col
                p 1200-2000
              td.table-price__col
                p 1500-3000
            tr.table-price__row
              td.table-price__col
                p Замена бокового стекла 1 шт  
              td.table-price__col
                p 900
              td.table-price__col
                p 1000-3000
            tr.table-price__row
              td.table-price__col
                p Замена ключевины боковой двери 1 шт  
              td.table-price__col
                p 300
              td.table-price__col
                p 750
            tr.table-price__row
              td.table-price__col
                p Замена ключевины багажника 1 шт  
              td.table-price__col
                p 400
              td.table-price__col
                p 750
            tr.table-price__row
              td.table-price__col
                p Замена стеклоподъемника 1 шт  
              td.table-price__col
                p 700-900
              td.table-price__col
                p 900-2000
            tr.table-price__row
              td.table-price__col
                p Установка локеров 4 шт  
              td.table-price__col
                p 600-1000
              td.table-price__col
                p 700-1000
            tr.table-price__row
              td.table-price__col
                p Установка фаркопа  
              td.table-price__col
                p 2500
              td.table-price__col
                p 2500-5500
            tr.table-price__row
              td.table-price__col
                p Установка брызговиков 2 шт  
              td.table-price__col
                p 500
              td.table-price__col
                p 500-1000
            tr.table-price__row
              td.table-price__col
                p Электротехнические работы 1 час  
              td.table-price__col
                p 980
              td.table-price__col
                p 980
            tr.table-price__row
              td.table-price__col
                p Арматурные работы 1 час  
              td.table-price__col
                p 980
              td.table-price__col
                p 980
            tr.table-price__row
              td.table-price__col
                p Снятие и установка переднего бампера  
              td.table-price__col
                p 500-1500
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Снятие и установка заднего бампера  
              td.table-price__col
                p 500-1500
              td.table-price__col
                p 500-2500
            tr.table-price__row
              td.table-price__col
                p Регулировка или ремонт замков 1 шт  
              td.table-price__col
                p 200-500
              td.table-price__col
                p 500-800
            tr.table-price__row
              td.table-price__col
                p Снятие и установка обшивки двери 1 шт  
              td.table-price__col
                p 500
              td.table-price__col
                p 800
            tr.table-price__row
              td.table-price__col
                p Ремонт двери с разборкой обшивки двери  
              td.table-price__col
                p 800
              td.table-price__col
                p 1000-2500
            tr.table-price__row
              td.table-price__col
                p Замена двери с переборкой  
              td.table-price__col
                p 1500
              td.table-price__col
                p 3000
            tr.table-price__row
              td.table-price__col
                p Замена дверной ручки  
              td.table-price__col
                p 500
              td.table-price__col
                p 500
            tr.table-price__row
              td.table-price__col
                p Замена троса воздушной заслонки  
              td.table-price__col
                p 400
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Замена троса привода замка капота  
              td.table-price__col
                p 300-500
              td.table-price__col
                p 500-2000
            tr.table-price__row
              td.table-price__col
                p Замена троса сцепления  
              td.table-price__col
                p 350
              td.table-price__col
                p 500-2000
            tr.table-price__row
              td.table-price__col
                p Вскрытие двери  
              td.table-price__col
                p 500-900
              td.table-price__col
                p 500-1500
            tr.table-price__row
              td.table-price__col
                p Вскрытие капота  
              td.table-price__col
                p 600-1000
              td.table-price__col
                p 800-1500
            tr.table-price__row
              td.table-price__col
                p Вскрытие багажника  
              td.table-price__col
                p 600-1200
              td.table-price__col
                p 800-1500
            tr.table-price__row
              td.table-price__col
                p Сварочные работы со снятием задней балки  
              td.table-price__col
                p 2500-6000
              td.table-price__col
                p 4000-9000
      .price__more-btn.btn(data-name='Свернуть таблицу') Развернуть таблицу
    
            

          
    