mixin hero
  section.hero
    .swiper-container-hero
      .swiper-wrapper
        .swiper-slide.hero__slide(style='background-image: url(img/hero-1.jpg);')
          .container
            .hero__body
              h1.hero__title Ремонт автомобиля во Владимире любой сложности по лучшей цене
        .swiper-slide.hero__slide(style='background-image: url(img/hero-2.jpg);')
          .container
            .hero__body
              .hero__title Кузовные работы и покраска
        .swiper-slide.hero__slide(style='background-image: url(img/hero-3.jpg);')
          .container
            .hero__body
              .hero__title Услуги автоэлектрика
      //- button.swiper-button-next
      //- button.swiper-button-prev
      .swiper-pagination
