mixin services
  section#services.services
    .container
      h2.title-section.services__title Услуги
      .services__inner
        .services__item.service-card(style='background-image: url(img/services-1.jpg);')
          .service-card__title Техническое обслуживание
          ul.service-card__list
            li.service-card__item Замена воздушного фильтра
            li.service-card__item Замена масляного насоса
            li.service-card__item Замена масляного фильтра
            li.service-card__item Замена помпы
            li.service-card__item Замена приводного ремня
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-2.jpg);')
          .service-card__title Подвеска
          ul.service-card__list
            li.service-card__item Замена верхнего рычага подвески
            li.service-card__item Замена втулок стабилизатора
            li.service-card__item Замена заднего амортизатора
            li.service-card__item Замена нижнего рычага подвески
            li.service-card__item Замена опорного подшипника
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-3.jpg);')
          .service-card__title Техническое обслуживание
          ul.service-card__list
            li.service-card__item Замена воздушного фильтра
            li.service-card__item Замена масляного насоса
            li.service-card__item Замена масляного фильтра
            li.service-card__item Замена помпы
            li.service-card__item Замена приводного ремня
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-4.jpg);')
          .service-card__title Подвеска
          ul.service-card__list
            li.service-card__item Замена верхнего рычага подвески
            li.service-card__item Замена втулок стабилизатора
            li.service-card__item Замена заднего амортизатора
            li.service-card__item Замена нижнего рычага подвески
            li.service-card__item Замена опорного подшипника
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-1.jpg);')
          .service-card__title Техническое обслуживание
          ul.service-card__list
            li.service-card__item Замена воздушного фильтра
            li.service-card__item Замена масляного насоса
            li.service-card__item Замена масляного фильтра
            li.service-card__item Замена помпы
            li.service-card__item Замена приводного ремня
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-2.jpg);')
          .service-card__title Подвеска
          ul.service-card__list
            li.service-card__item Замена верхнего рычага подвески
            li.service-card__item Замена втулок стабилизатора
            li.service-card__item Замена заднего амортизатора
            li.service-card__item Замена нижнего рычага подвески
            li.service-card__item Замена опорного подшипника
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-3.jpg);')
          .service-card__title Техническое обслуживание
          ul.service-card__list
            li.service-card__item Замена воздушного фильтра
            li.service-card__item Замена масляного насоса
            li.service-card__item Замена масляного фильтра
            li.service-card__item Замена помпы
            li.service-card__item Замена приводного ремня
          .service-card__btn-wrapper
            button.service-card__btn Записаться
        .services__item.service-card(style='background-image: url(img/services-4.jpg);')
          .service-card__title Подвеска
          ul.service-card__list
            li.service-card__item Замена верхнего рычага подвески
            li.service-card__item Замена втулок стабилизатора
            li.service-card__item Замена заднего амортизатора
            li.service-card__item Замена нижнего рычага подвески
            li.service-card__item Замена опорного подшипника
          .service-card__btn-wrapper
            button.service-card__btn Записаться