.logo {
  margin-left: -10px;
  display: block;
  flex-shrink: 0;
  text-decoration: none;
  white-space: nowrap;

  @include media('<tablet') {
    z-index: 3;
  }

  &__icon {
    vertical-align: middle;
    height: 50px;
    width: 50px;
    fill: #1C63B8;
  }

  &__text {
    user-select: none;
    margin-left: -7px;
    font-size: 26px;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    line-height: 1;
  }
}