.contacts {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  @include media('<tablet') {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__map {
    height: 460px;
    width: 100%;

    @include media('<tablet') {
      height: 300px;
    }
  }

  &__info {
    left: 20px;
    top: 50%;
    transform: translateY(-30%);
    z-index: 2;
    position: absolute;
    padding: 20px 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);

    @include media('<tablet') {
      position: static;
      transform: translateY(0);
      margin: 0 20px 20px 20px;
    }
  }
}

.info-contacts {

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__icon {
    fill: lighten($color:  #1c63b8, $amount: 10%);
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  &__text {
    text-decoration: none;
    color: #fff;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}