mixin contacts
 section.contacts.relative
  .anchor-offset#contacts
  h2.contacts__title.title-section Контакты
  .contacts__info.info-contacts
    .info-contacts__title Контактная информация
    ul.info-contacts__list
      li.info-contacts__item
        svg.info-contacts__icon
          use(xlink:href="img/svg/sprite.svg#location")
        .info-contacts__text г. Владимир, ул. Красносельская 57а
      li.info-contacts__item
        svg.info-contacts__icon
          use(xlink:href="img/svg/sprite.svg#phone-call")
        a.info-contacts__text(href="tel:+79106700292") +7 (910) 670-02-92
      li.info-contacts__item
        svg.info-contacts__icon
          use(xlink:href="img/svg/sprite.svg#clock")
        span.info-contacts__text Пн-Пт с 9:00 до 18:00
      li.info-contacts__item
        svg.info-contacts__icon
          use(xlink:href="img/svg/sprite.svg#mail")
        a.info-contacts__text(href="mailto:service@mail.ru") minohov33@mail.ru
  #map.contacts__map

      
