mixin header
  header.header
    .container
      .header__inner
        .header__logo-wrapper
          a.logo(href='#')
            svg.logo__icon
              use(xlink:href="img/svg/sprite.svg#logo")
            span.logo__text Чип и Дип
          button.burger
            span.burger__line
        .header__group
          nav.nav.header__nav
            ul.nav__list
              li.nav__item
                a(href='#features').nav__link Преимущества
              li.nav__item
                a(href='#services').nav__link Услуги
              li.nav__item
                a(href='#price').nav__link Цены
              li.nav__item
                a(href='#contacts').nav__link Контакты
          .header__info
            .adress
              svg.adress__icon
                use(xlink:href="img/svg/sprite.svg#location")
              .adress__inner г. Владимир, <br> ул. Красносельская, д. 57а
            .call(data-da="mobile-menu, 2, 767.8")
              svg.call__icon
                  use(xlink:href="img/svg/sprite.svg#phone-call")
              a.call__number(href='tel:+79106700292') +7 (910) 670-02-92
          
