mixin header
  header.header
    .container
      .header__inner
        a.logo(href='#')
          img.logo__img(src='img/logo.png')
        nav.nav(data-da="mobile-menu, 1, 767.7")
          ul.nav__list
            li.nav__item
              a(href='#').nav__link Услуги
            li.nav__item
              a(href='#').nav__link Цены
            li.nav__item
              a(href='#').nav__link Галерея
            li.nav__item
              a(href='#').nav__link Контакты
        .header__info
          .adress(data-da="mobile-menu, 3, 767.7")
            svg.adress__icon
              use(xlink:href="img/svg/sprite.svg#location")
            .adress__inner г. Владимир, <br> ул. Красносельская, д. 1
          .call(data-da="mobile-menu, 2, 767.8")
            svg.call__icon
                use(xlink:href="img/svg/sprite.svg#phone-call")
            a.call__number(href='tel:+7999999') +7-999-999-99
        button.burger
          span.burger__line
        .mobile-menu
          .mobile-menu__top
            button.mobile-menu__close
              svg.mobile-menu__close-icon
                use(xlink:href="img/svg/sprite.svg#right-arrow")
          
