extends partials/layout.pug
block vars
  -var title='Главная'
block content
  main.main
    include blocks/hero/hero
    +hero
    include blocks/features/features
    +features
    include blocks/services/services
    +services
    include blocks/price/price
    +price
    include blocks/contacts/contacts
    +contacts