// settings

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

//vendor styles
@import '../../node_modules/swiper/swiper-bundle.css';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

body {
  font-family: var(--font-base);
}

.anchor-offset {
  position: absolute;
  top: -70px;
  left: 0;
  height: 0;
  width: 0;
  visibility: hidden;

  @include media('<tablet') {
    top: -50px;
  }
}

.relative {
  position: relative;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;

  @include media('<tablet') {
    padding: 0 10px;
  }
}

.overflow-limiter {
  overflow: hidden;
}

.title-section {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;

  @include media('<tablet') {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.relative {
  position: relative;
}

.btn {
  color: #fff;
  background-color: #1c63b8;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: lighten($color: #1c63b8, $amount: 10%);
  }
}

// component blocks

// layout blocks
@import '../blocks/header/_header';
@import '../blocks/footer/_footer';
@import '../blocks/logo/_logo';
@import '../blocks/hero/_hero';
@import '../blocks/features/_features';
@import '../blocks/services/_services';
@import '../blocks/price/_price';
@import '../blocks/contacts/_contacts';
@import '../blocks/modal/_modal';

