.header {
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ededed;


  &__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media('<tablet') {
      display: block;
      padding: 4px 0;
    }
  }

  &__logo-wrapper {
    @include media('<tablet') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    

    @include media('<tablet') {
      position: absolute;
      top: 59px;
      right: 0;
      display: block;
      height: calc(100vh - 55px);
      overflow-x: hidden;
      overflow-y: scroll;
      width: 320px;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.97);
      transform: translateX(100%);
      transition: transform .2s;
      padding: 30px 10px 30px 30px;

      &.is-open {
        transform: translateX(0);
      }

      @include media('<320px') {
        width: 100%;
      }
    }
  }

  &__info {
    display: flex;

    @include media('<tablet') {
      flex-direction: column-reverse;
    }
  }

  &__nav {
    margin-right: 90px;

    @include media('<desktop') {
      margin-right: calc(59vw - 450px);
    }

    @include media('<800px') {
      margin-right: calc(61vw - 450px);
    }

    @include media('<tablet') {
      
    }
  }

}

.nav {

  &__list {
    display: flex;

    @include media('<tablet') {
      display: block;
      padding-bottom: 20px;
      margin-bottom: 40px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -50px;
        width: 150%;
        height: 1px;
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  
  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include media('<desktop') {
        margin-right: 20px;
      }
    }

    @include media('<tablet') {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition: color .2s;

    @include media('<tablet') {
      font-size: 22px;
    }
    &:hover {
      color: #1c63b8;
    }
  }
}


.adress {
  margin-right: 50px;
  display: flex;
  align-items: center;

  @include media('<desktop') {
    display: none;
  }

  @include media('<tablet') {
    display: flex;
    margin-right: 0;
  }

  &__icon {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    fill: #1c63b8;
  }

  &__inner {
    font-size: 16px;
  }
}

.call {

  display: flex;
  align-items: center;

  @include media('<tablet') {
    margin-bottom: 20px;
  }

  &__number {
    color: #000;
    text-decoration: none;
    font-size: 22px;

    @include media('<desktop') {
      font-size: 18px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__action {
    font-size: 16px;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    min-width: 100%;
    border-radius: 5px;
    background-color: #1c63b8;
    color: #fff;
    transition: background-color .2s;
    &:hover {
      background-color: darken($color: #1c63b8, $amount: 10%);
    }
  }

  &__icon {
    margin-right: 10px;
    fill: #1c63b8;
    height: 25px;
    width: 25px;

    @include media('<desktop') {
      height: 20px;
      width: 20px;
    }
  }
}

.burger {
  padding: 10px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;

  @include media('<tablet') {
    display: block;
  }

  &__line {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    display: block;
    width: 23px;
    height: 3px;
    background-color: #000;
    transition: transform .2s;
  }

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 23px;
    height: 3px;
    background-color: #000;
    content: '';
    transition: .2s;
  }

  &::before {
    top: 6px;
  }

  &::after {
    bottom: 6px;
  }

  &.is-open {
    &::before {
      top: 6;
      left: 30%;
      transform: rotate(45deg) scaleX(0.5) translateX(53%);
    }

    &::after {
      bottom: 6;
      transform: rotate(-45deg) scaleX(0.5) translateX(53%);
      left: 30%;
    }
  }
}

