mixin features
  .features.relative
    .anchor-offset#features
    .container
      .features__inner
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-1")
          .feature__title Бесплатный подбор деталей
          p.feature__text Мы готовы для вас бесплатно подобрать лучшие и доступные запчасти
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-2")
          .feature__title Работаем с любыми моделями
          p.feature__text Наш многолетний опыт позволяет работать с любыми моделями автомобилей
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-3")
          .feature__title Доступные цены
          p.feature__text Поможем вам отремонтировать автомобиль и сохраним ваши средства
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-4")
          .feature__title Высокая квалификация
          p.feature__text Вашем автомобилем займутся профессионалы с опытом работы более 20 лет