mixin features
  .features.relative
    .anchor-offset#features
    .container
      .features__inner
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-1")
          .feature__title Подбор деталей
          p.feature__text Мы готовы подобрать для вас наиболее подходящие по бюджету запчасти среди оригинальных и доступных вариантов
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-2")
          .feature__title Подбор деталей
          p.feature__text Мы готовы подобрать для вас наиболее подходящие по бюджету запчасти среди оригинальных и доступных вариантов
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-3")
          .feature__title Подбор деталей
          p.feature__text Мы готовы подобрать для вас наиболее подходящие по бюджету запчасти среди оригинальных и доступных вариантов
        .features__item.feature
          svg.feature__icon
            use(xlink:href="img/svg/sprite.svg#feature-4")
          .feature__title Подбор деталей
          p.feature__text Мы готовы подобрать для вас наиболее подходящие по бюджету запчасти среди оригинальных и доступных вариантов